@import '/styles/globals';

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: $small $large;
    z-index: 100;

    .logo_menu {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .menu_desktop,
    .hamburger {
        grid-area: 1 / 3 / 2 / 11;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $medium;
    }

    .menu_button {
        grid-area: 1 / 11 / 2 / 13;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu {
        visibility: visible;
    }

    .hamburger {
        visibility: hidden;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: $small $medium;

        .logo_menu {
            grid-area: 1 / 1 / 2 / 3;
        }

        .hamburger {
            grid-area: 1 / 3 / 2 / 7;
            visibility: visible;
        }

        .menu_button {
            grid-area: 1 / 7 / 2 / 9;
        }

        .menu {
            display: none;
            visibility: hidden;
        }
    }

    @media screen and (max-width: 767px) {
        padding: $small $medium;

        .logo_menu {
            grid-area: 1 / 1 / 2 / 4;
        }

        .hamburger {
            grid-area: 1 / 4 / 2 / 7;
            justify-content: flex-end;
            visibility: visible;
        }

        .menu,
        .menu_button {
            display: none;
            visibility: hidden;
        }
    }
}